.color-inherit {
  color: inherit;
}

.color-white {
  color: $white
}
.color-black {
  color: $black;
}
.color-gray {
  color: $gray;
}
.color-purple {
  color: $purple;
}
.color-dark-blue {
  color: $dark-blue;
}