//Пути для ссылок
$path-root: '../../assets';
$path-fonts: $path-root + '/fonts';
$path-img: $path-root + '/img';

//Цвета с дизайна
$black: #000;
$white: #fff;

$gray: #bbb;
$purple: #9387FC;
$dark-blue: #313066;